openapi: 3.0.3
info:
  title: External
  version: v1
servers:
  - url: https://api.hopin.com
components:
  securitySchemes:
    Bearer:
      description: Bearer Authentication
      type: apiKey
      name: Authorization
      in: header
    OAuth:
      type: oauth2
      description: >-
        This API uses OAuth 2 with the auth code grant flow. In order to get
        OAuth details,
                    organisers need to contact support: https://support.hopin.com/.
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          scopes: []
  parameters:
    perPage:
      in: query
      name: perPage
      required: false
      description: Number of items per page
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
    page:
      in: query
      name: page
      required: false
      description: Page number of a list of resources
      schema:
        type: integer
        minimum: 1
        default: 1
    registrationsFilter:
      in: query
      name: filter
      required: false
      description: Registration filtering options
      schema:
        $ref: '#/components/schemas/registrationsFilter'
    magicLinksFilter:
      in: query
      name: filter
      required: false
      description: Magic links filtering options
      schema:
        $ref: '#/components/schemas/magicLinksFilter'
  schemas:
    booleanFilter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: boolean
          description: The attribute value must be equal to the given boolean
    bankQuestions:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - bank_question
        attributes:
          type: object
          properties:
            childQuestions:
              type: array
              nullable: true
              description: List of child questions, this is not recursive structure
              items:
                type: object
                properties:
                  id:
                    description: Bank Question external ID
                    type: integer
                  name:
                    description: Bank Question name
                    type: string
                  field_type:
                    description: Field type of Bank Question
                    type: string
                  defaultAnswer:
                    description: Default answer
                    type: string
                    nullable: true
                  options:
                    type: array
                    nullable: true
                    description: List of Options
                    items:
                      $ref: '#/components/schemas/option'
                additionalProperties: false
                required:
                  - id
                  - name
                  - field_type
            defaultAnswer:
              type: string
              nullable: true
            fieldType:
              type: string
            id:
              type: string
            name:
              type: string
            options:
              type: array
              nullable: true
              description: List of Options
              items:
                $ref: '#/components/schemas/option'
          additionalProperties: false
          required:
            - childQuestions
            - defaultAnswer
            - fieldType
            - id
            - name
            - options
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    dateTimeFilter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          format: date-time
          description: The attribute value must be equal to given date-time
        in:
          type: array
          description: >-
            List of date-time strings separated by comma (,). Attribute value
            must be equal to at least one of given string
          items:
            type: string
            format: date-time
        gt:
          type: string
          format: date-time
          description: The attribute value must be greater than given date-time
        lt:
          type: string
          format: date-time
          description: The attribute value must be less than given date-time
        gte:
          type: string
          format: date-time
          description: The attribute value must be greater than or equal to given date-time
        lte:
          type: string
          format: date-time
          description: The attribute value must be less than or equal to given date-time
    event:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - event
        attributes:
          type: object
          properties:
            createdAt:
              type: string
            description:
              type: string
            id:
              type: string
            metadata:
              type: object
            name:
              type: string
            published:
              type: boolean
            slug:
              type: string
            status:
              type: string
            timeEnd:
              type: string
              nullable: true
            timeStart:
              type: string
              nullable: true
            timezone:
              type: string
            type:
              type: string
          additionalProperties: false
          required:
            - createdAt
            - description
            - id
            - metadata
            - name
            - published
            - slug
            - status
            - timeEnd
            - timeStart
            - timezone
            - type
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    magicLink:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - magicLink
        attributes:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            email:
              type: string
            extraFields:
              type: object
              additionalProperties:
                type: string
            firstName:
              type: string
            headline:
              type: string
              nullable: true
            id:
              type: string
            lastName:
              type: string
            magicLink:
              type: string
            metadata:
              type: object
              additionalProperties:
                type: string
            registrationId:
              type: string
              nullable: true
            status:
              type: string
              nullable: true
            updatedAt:
              type: string
              format: date-time
          additionalProperties: false
          required:
            - createdAt
            - email
            - extraFields
            - firstName
            - headline
            - id
            - lastName
            - magicLink
            - metadata
            - status
            - updatedAt
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    magicLinksFilter:
      type: object
      properties:
        email:
          $ref: '#/components/schemas/stringFilter'
        updatedAt:
          $ref: '#/components/schemas/dateTimeFilter'
        includeConfirmAndJoin:
          $ref: '#/components/schemas/booleanFilter'
      additionalProperties: false
    stringFilter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: The attribute value must be equal to the given string
        in:
          type: array
          description: >-
            List of strings separated by comma (,). Attribute value must be
            equal to at least one of given string
          items:
            type: string
    tag:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - tag
        attributes:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
          additionalProperties: false
          required:
            - id
            - name
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    template:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - template
        attributes:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
          additionalProperties: false
          required:
            - id
            - name
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    ticket:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - ticket
        attributes:
          type: object
          properties:
            claimed:
              type: integer
            count:
              type: integer
            createdAt:
              type: string
              format: date-time
            description:
              type: string
              nullable: true
            discount:
              type: number
              format: double
              nullable: true
            eventId:
              type: string
            id:
              type: string
            name:
              type: string
            price:
              type: number
              format: double
            private:
              type: boolean
            remaining:
              type: integer
            slug:
              type: string
          additionalProperties: false
          required:
            - claimed
            - count
            - createdAt
            - description
            - discount
            - eventId
            - id
            - name
            - price
            - private
            - remaining
            - slug
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    dataSubscription:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - dataSubscription
        attributes:
          type: object
          properties:
            configuration:
              type: object
              properties:
                type:
                  type: string
                url:
                  type: string
                  nullable: true
            eventId:
              type: string
            expiresAt:
              type: string
              format: date-time
            id:
              type: string
            signals:
              type: array
              nullable: false
              description: list of signals
              items:
                type: string
          additionalProperties: false
          required:
            - configuration
            - eventId
            - expiresAt
            - id
            - signals
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    report:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            id:
              type: string
            url:
              type: string
              description: URL for the generated report. Expires after 1 minute.
            title:
              type: string
            status:
              type: string
          additionalProperties: false
          required:
            - id
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    in_progress_report:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
    registration:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - registration
        attributes:
          type: object
          properties:
            attended:
              type: boolean
            bio:
              type: string
              nullable: true
            createdAt:
              type: string
              format: date-time
            customRegistrationFields:
              type: array
              nullable: true
              description: List of Questions and answers
              items:
                $ref: '#/components/schemas/customRegistrationField'
            email:
              type: string
            firstCheckIn:
              type: string
              nullable: true
            firstName:
              type: string
            headline:
              type: string
              nullable: true
            id:
              type: string
            lastName:
              type: string
            linkedin:
              type: string
              nullable: true
            magicLinkId:
              type: string
              nullable: true
            metadata:
              type: object
            phoneNumber:
              type: string
              nullable: true
            qrCodeData:
              type: string
              nullable: true
            qrCodeImageUrl:
              type: string
              nullable: true
            questionBankEnabled:
              type: boolean
            refunded:
              type: boolean
            registeredThrough:
              type: string
            ticketId:
              type: string
            timezone:
              type: string
            twitter:
              type: string
              nullable: true
            updatedAt:
              type: string
              format: date-time
            userId:
              type: string
            utm:
              type: object
              properties:
                utmSource:
                  type: string
                utmCampaign:
                  type: string
                utmMedium:
                  type: string
                utmContent:
                  type: string
                utmTerm:
                  type: string
            website:
              type: string
              nullable: true
          additionalProperties: false
          required:
            - attended
            - bio
            - createdAt
            - customRegistrationFields
            - email
            - firstCheckIn
            - firstName
            - headline
            - id
            - lastName
            - linkedin
            - magicLinkId
            - metadata
            - phoneNumber
            - qrCodeData
            - qrCodeImageUrl
            - questionBankEnabled
            - refunded
            - registeredThrough
            - ticketId
            - timezone
            - twitter
            - updatedAt
            - userId
            - utm
            - website
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    registrationsFilter:
      type: object
      properties:
        email:
          $ref: '#/components/schemas/stringFilter'
        createdAt:
          $ref: '#/components/schemas/dateTimeFilter'
        refunded:
          $ref: '#/components/schemas/booleanFilter'
        updatedAt:
          $ref: '#/components/schemas/dateTimeFilter'
        userUpdatedAt:
          $ref: '#/components/schemas/dateTimeFilter'
      additionalProperties: false
    organization:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - organization
        attributes:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            email:
              type: string
            facebook:
              type: string
              nullable: true
            id:
              type: string
            name:
              type: string
            twitter:
              type: string
              nullable: true
            website:
              type: string
              nullable: true
          additionalProperties: false
          required:
            - createdAt
            - email
            - facebook
            - id
            - name
            - twitter
            - website
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    option:
      type: object
      properties:
        id:
          description: Option Id
          type: integer
        name:
          description: Option name
          type: string
        seq:
          description: Sequence of the option
          type: string
        defaultAnswer:
          description: Default answer
          type: boolean
          nullable: true
      additionalProperties: false
      required:
        - id
        - name
        - seq
    booth:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - booth
        attributes:
          type: object
          properties:
            about:
              type: string
              nullable: true
            boothSize:
              type: string
            createdAt:
              type: string
              format: date-time
            email:
              type: string
              nullable: true
            facebook:
              type: string
              nullable: true
            headline:
              type: string
              nullable: true
            id:
              type: string
            instagram:
              type: string
              nullable: true
            linkedin:
              type: string
              nullable: true
            name:
              type: string
            priority:
              type: integer
            twitter:
              type: string
              nullable: true
            updatedAt:
              type: string
              format: date-time
            website:
              type: string
              nullable: true
          additionalProperties: false
          required:
            - about
            - boothSize
            - createdAt
            - email
            - facebook
            - headline
            - id
            - instagram
            - linkedin
            - name
            - priority
            - twitter
            - updatedAt
            - website
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    scheduleItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - scheduleItem
        attributes:
          type: object
          properties:
            area:
              type: string
            areaId:
              type: string
              nullable: true
            areaName:
              type: string
              nullable: true
            createdAt:
              type: string
              format: date-time
            description:
              type: string
              nullable: true
            id:
              type: string
            name:
              type: string
            speakers:
              type: array
            timeEnd:
              type: string
              format: date-time
            timeStart:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
          additionalProperties: false
          required:
            - area
            - areaId
            - areaName
            - createdAt
            - description
            - id
            - name
            - speakers
            - timeEnd
            - timeStart
            - updatedAt
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    session:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - session
        attributes:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            id:
              type: string
            name:
              type: string
            updatedAt:
              type: string
              format: date-time
          additionalProperties: false
          required:
            - createdAt
            - id
            - name
            - updatedAt
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    stage:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - stage
        attributes:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            id:
              type: string
            name:
              type: string
            updatedAt:
              type: string
              format: date-time
          additionalProperties: false
          required:
            - createdAt
            - id
            - name
            - updatedAt
      additionalProperties: false
      required:
        - id
        - type
        - attributes
    errors:
      type: object
      properties:
        errors:
          type: array
          description: List of errors
          items:
            $ref: '#/components/schemas/error'
      required:
        - errors
    customRegistrationField:
      type: object
      properties:
        id:
          description: Question Id
          type: string
        name:
          description: Question
          type: string
        value:
          description: Answer of the question
          type:
            - string
            - array
        type:
          description: >-
            Question type will be any type of singleLineText, paragraphText,
            date,
                                  singleSelect, multiSelect or conditional
          type: string
        childQuestions:
          type: array
          required: false
          nullable: true
          description: List of child questions
          items:
            type: object
            properties:
              id:
                description: Question Id
                type: string
              name:
                description: Question
                type: string
              value:
                description: Answer of the question
                type:
                  - string
                  - array
              type:
                description: >-
                  Question type will be any type of singleLineText,
                  paragraphText, date,
                                        singleSelect or multiSelect
                type: string
            additionalProperties: false
            required:
              - id
              - name
              - value
              - type
      additionalProperties: false
      required:
        - id
        - name
        - value
        - type
    error:
      type: object
      properties:
        code:
          description: An application-specific error code
          type: string
        detail:
          description: >-
            A human-readable explanation specific to this occurrence of the
            problem.
          type: string
        status:
          description: The HTTP status code applicable to error.
          type: string
        title:
          description: >-
            A short, human-readable summary of the problem that does not change
            from occurrence to occurrence of the problem
          type: string
        source:
          description: An object containing references to the source of the error
          type: object
          properties:
            pointer:
              description: A JSON Pointer to the associated entity in the request document.
              type: string
            parameter:
              description: A string indicating which URI query parameter caused the error.
              type: string
      required:
        - code
        - detail
        - status
        - title
        - source
    listMeta:
      description: Additional details for a list
      type: object
      properties:
        count:
          description: Total count of list items
          type: integer
      required:
        - count
    listLinks:
      type: object
      description: Pagination links
      properties:
        first:
          description: First page URL
          type: string
        self:
          description: Current page URL
          type: string
        last:
          description: Last page URL
          type: string
        prev:
          description: Previous page URL
          type: string
          nullable: true
        next:
          description: Next page URL
          type: string
          nullable: true
      required:
        - first
        - self
        - last
paths:
  /v1/health:
    get:
      summary: Checks if all systems are operational
      tags:
        - Health Check
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: All systems are up
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/booths/:boothId/tags:
    get:
      summary: Returns the list of tags for a Booth
      tags:
        - Tags
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: boothId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns the list of tags for a booth
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/tag'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/events/{eventId}/booths:
    get:
      summary: Returns the list of booths for user's organization's event
      tags:
        - Booths
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns the list of booths for user's organization's event
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/booth'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/events/{eventId}/dataSubscriptions:
    post:
      summary: Create a new data subscription
      tags:
        - Data Subscriptions
      security:
        - OAuth:
            - api:data_subscription:write
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Create a new data subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/dataSubscription'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - dataSubscription
                      description: Resource type
                    attributes:
                      type: object
                      properties:
                        configuration:
                          type: object
                          properties:
                            url:
                              type: string
                            type:
                              type: string
                            expiresAt:
                              type: string
                              format: date-time
                        signals:
                          type: array
                          items:
                            type: string
                            enum:
                              - attendance
                              - attendeeCheckedInToEvent
                              - attendeeCheckedInToScheduleItem
                              - attendeeCheckedOutFromEvent
                              - attendeeCheckedOutFromScheduleItem
                              - attendeeClickedUrl
                              - attendeeEnteredEventArea
                              - attendeeFilledMidEventSurvey
                              - attendeeFilledPostEventSurvey
                              - attendeeLeftEventArea
                              - attendeeRegisteredVendorInterest
                              - onsiteSegmentRegistrationCreated
                              - registrationQrCreated
                              - registrationQrUpdated
                      additionalProperties: false
                  additionalProperties: false
                  required:
                    - type
                    - attributes
              required:
                - data
  /v1/events/{eventId}/duplications:
    post:
      summary: Duplicates an existing event
      tags:
        - Events
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '202':
          description: Duplicates the event
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '403':
          description: Returns a request forbidden error
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Returns an event validation error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - event
                      description: Resource type
                    attributes:
                      type: object
                      properties:
                        auto_publish:
                          type: boolean
                        metadata:
                          type: object
                        name:
                          type: string
                        organizationId:
                          type: string
                        password:
                          type: string
                        timeEnd:
                          type: string
                          format: date-time
                        timeStart:
                          type: string
                          format: date-time
                        timezone:
                          type: string
                          enum:
                            - Abu Dhabi
                            - Adelaide
                            - Africa/Abidjan
                            - Africa/Accra
                            - Africa/Addis_Ababa
                            - Africa/Algiers
                            - Africa/Asmara
                            - Africa/Asmera
                            - Africa/Bamako
                            - Africa/Bangui
                            - Africa/Banjul
                            - Africa/Bissau
                            - Africa/Blantyre
                            - Africa/Brazzaville
                            - Africa/Bujumbura
                            - Africa/Cairo
                            - Africa/Casablanca
                            - Africa/Ceuta
                            - Africa/Conakry
                            - Africa/Dakar
                            - Africa/Dar_es_Salaam
                            - Africa/Djibouti
                            - Africa/Douala
                            - Africa/El_Aaiun
                            - Africa/Freetown
                            - Africa/Gaborone
                            - Africa/Harare
                            - Africa/Johannesburg
                            - Africa/Juba
                            - Africa/Kampala
                            - Africa/Khartoum
                            - Africa/Kigali
                            - Africa/Kinshasa
                            - Africa/Lagos
                            - Africa/Libreville
                            - Africa/Lome
                            - Africa/Luanda
                            - Africa/Lubumbashi
                            - Africa/Lusaka
                            - Africa/Malabo
                            - Africa/Maputo
                            - Africa/Maseru
                            - Africa/Mbabane
                            - Africa/Mogadishu
                            - Africa/Monrovia
                            - Africa/Nairobi
                            - Africa/Ndjamena
                            - Africa/Niamey
                            - Africa/Nouakchott
                            - Africa/Ouagadougou
                            - Africa/Porto-Novo
                            - Africa/Sao_Tome
                            - Africa/Timbuktu
                            - Africa/Tripoli
                            - Africa/Tunis
                            - Africa/Windhoek
                            - Alaska
                            - Almaty
                            - America/Adak
                            - America/Anchorage
                            - America/Anguilla
                            - America/Antigua
                            - America/Araguaina
                            - America/Argentina/Buenos_Aires
                            - America/Argentina/Catamarca
                            - America/Argentina/ComodRivadavia
                            - America/Argentina/Cordoba
                            - America/Argentina/Jujuy
                            - America/Argentina/La_Rioja
                            - America/Argentina/Mendoza
                            - America/Argentina/Rio_Gallegos
                            - America/Argentina/Salta
                            - America/Argentina/San_Juan
                            - America/Argentina/San_Luis
                            - America/Argentina/Tucuman
                            - America/Argentina/Ushuaia
                            - America/Aruba
                            - America/Asuncion
                            - America/Atikokan
                            - America/Atka
                            - America/Bahia
                            - America/Bahia_Banderas
                            - America/Barbados
                            - America/Belem
                            - America/Belize
                            - America/Blanc-Sablon
                            - America/Boa_Vista
                            - America/Bogota
                            - America/Boise
                            - America/Buenos_Aires
                            - America/Cambridge_Bay
                            - America/Campo_Grande
                            - America/Cancun
                            - America/Caracas
                            - America/Catamarca
                            - America/Cayenne
                            - America/Cayman
                            - America/Chicago
                            - America/Chihuahua
                            - America/Coral_Harbour
                            - America/Cordoba
                            - America/Costa_Rica
                            - America/Creston
                            - America/Cuiaba
                            - America/Curacao
                            - America/Danmarkshavn
                            - America/Dawson
                            - America/Dawson_Creek
                            - America/Denver
                            - America/Detroit
                            - America/Dominica
                            - America/Edmonton
                            - America/Eirunepe
                            - America/El_Salvador
                            - America/Ensenada
                            - America/Fort_Nelson
                            - America/Fort_Wayne
                            - America/Fortaleza
                            - America/Glace_Bay
                            - America/Godthab
                            - America/Goose_Bay
                            - America/Grand_Turk
                            - America/Grenada
                            - America/Guadeloupe
                            - America/Guatemala
                            - America/Guayaquil
                            - America/Guyana
                            - America/Halifax
                            - America/Havana
                            - America/Hermosillo
                            - America/Indiana/Indianapolis
                            - America/Indiana/Knox
                            - America/Indiana/Marengo
                            - America/Indiana/Petersburg
                            - America/Indiana/Tell_City
                            - America/Indiana/Vevay
                            - America/Indiana/Vincennes
                            - America/Indiana/Winamac
                            - America/Indianapolis
                            - America/Inuvik
                            - America/Iqaluit
                            - America/Jamaica
                            - America/Jujuy
                            - America/Juneau
                            - America/Kentucky/Louisville
                            - America/Kentucky/Monticello
                            - America/Knox_IN
                            - America/Kralendijk
                            - America/La_Paz
                            - America/Lima
                            - America/Los_Angeles
                            - America/Louisville
                            - America/Lower_Princes
                            - America/Maceio
                            - America/Managua
                            - America/Manaus
                            - America/Marigot
                            - America/Martinique
                            - America/Matamoros
                            - America/Mazatlan
                            - America/Mendoza
                            - America/Menominee
                            - America/Merida
                            - America/Metlakatla
                            - America/Mexico_City
                            - America/Miquelon
                            - America/Moncton
                            - America/Monterrey
                            - America/Montevideo
                            - America/Montreal
                            - America/Montserrat
                            - America/Nassau
                            - America/New_York
                            - America/Nipigon
                            - America/Nome
                            - America/Noronha
                            - America/North_Dakota/Beulah
                            - America/North_Dakota/Center
                            - America/North_Dakota/New_Salem
                            - America/Nuuk
                            - America/Ojinaga
                            - America/Panama
                            - America/Pangnirtung
                            - America/Paramaribo
                            - America/Phoenix
                            - America/Port-au-Prince
                            - America/Port_of_Spain
                            - America/Porto_Acre
                            - America/Porto_Velho
                            - America/Puerto_Rico
                            - America/Punta_Arenas
                            - America/Rainy_River
                            - America/Rankin_Inlet
                            - America/Recife
                            - America/Regina
                            - America/Resolute
                            - America/Rio_Branco
                            - America/Rosario
                            - America/Santa_Isabel
                            - America/Santarem
                            - America/Santiago
                            - America/Santo_Domingo
                            - America/Sao_Paulo
                            - America/Scoresbysund
                            - America/Shiprock
                            - America/Sitka
                            - America/St_Barthelemy
                            - America/St_Johns
                            - America/St_Kitts
                            - America/St_Lucia
                            - America/St_Thomas
                            - America/St_Vincent
                            - America/Swift_Current
                            - America/Tegucigalpa
                            - America/Thule
                            - America/Thunder_Bay
                            - America/Tijuana
                            - America/Toronto
                            - America/Tortola
                            - America/Vancouver
                            - America/Virgin
                            - America/Whitehorse
                            - America/Winnipeg
                            - America/Yakutat
                            - America/Yellowknife
                            - American Samoa
                            - Amsterdam
                            - Antarctica/Casey
                            - Antarctica/Davis
                            - Antarctica/DumontDUrville
                            - Antarctica/Macquarie
                            - Antarctica/Mawson
                            - Antarctica/McMurdo
                            - Antarctica/Palmer
                            - Antarctica/Rothera
                            - Antarctica/South_Pole
                            - Antarctica/Syowa
                            - Antarctica/Troll
                            - Antarctica/Vostok
                            - Arctic/Longyearbyen
                            - Arizona
                            - Asia/Aden
                            - Asia/Almaty
                            - Asia/Amman
                            - Asia/Anadyr
                            - Asia/Aqtau
                            - Asia/Aqtobe
                            - Asia/Ashgabat
                            - Asia/Ashkhabad
                            - Asia/Atyrau
                            - Asia/Baghdad
                            - Asia/Bahrain
                            - Asia/Baku
                            - Asia/Bangkok
                            - Asia/Barnaul
                            - Asia/Beirut
                            - Asia/Bishkek
                            - Asia/Brunei
                            - Asia/Calcutta
                            - Asia/Chita
                            - Asia/Choibalsan
                            - Asia/Chongqing
                            - Asia/Chungking
                            - Asia/Colombo
                            - Asia/Dacca
                            - Asia/Damascus
                            - Asia/Dhaka
                            - Asia/Dili
                            - Asia/Dubai
                            - Asia/Dushanbe
                            - Asia/Famagusta
                            - Asia/Gaza
                            - Asia/Harbin
                            - Asia/Hebron
                            - Asia/Ho_Chi_Minh
                            - Asia/Hong_Kong
                            - Asia/Hovd
                            - Asia/Irkutsk
                            - Asia/Istanbul
                            - Asia/Jakarta
                            - Asia/Jayapura
                            - Asia/Jerusalem
                            - Asia/Kabul
                            - Asia/Kamchatka
                            - Asia/Karachi
                            - Asia/Kashgar
                            - Asia/Kathmandu
                            - Asia/Katmandu
                            - Asia/Khandyga
                            - Asia/Kolkata
                            - Asia/Krasnoyarsk
                            - Asia/Kuala_Lumpur
                            - Asia/Kuching
                            - Asia/Kuwait
                            - Asia/Macao
                            - Asia/Macau
                            - Asia/Magadan
                            - Asia/Makassar
                            - Asia/Manila
                            - Asia/Muscat
                            - Asia/Nicosia
                            - Asia/Novokuznetsk
                            - Asia/Novosibirsk
                            - Asia/Omsk
                            - Asia/Oral
                            - Asia/Phnom_Penh
                            - Asia/Pontianak
                            - Asia/Pyongyang
                            - Asia/Qatar
                            - Asia/Qostanay
                            - Asia/Qyzylorda
                            - Asia/Rangoon
                            - Asia/Riyadh
                            - Asia/Saigon
                            - Asia/Sakhalin
                            - Asia/Samarkand
                            - Asia/Seoul
                            - Asia/Shanghai
                            - Asia/Singapore
                            - Asia/Srednekolymsk
                            - Asia/Taipei
                            - Asia/Tashkent
                            - Asia/Tbilisi
                            - Asia/Tehran
                            - Asia/Tel_Aviv
                            - Asia/Thimbu
                            - Asia/Thimphu
                            - Asia/Tokyo
                            - Asia/Tomsk
                            - Asia/Ujung_Pandang
                            - Asia/Ulaanbaatar
                            - Asia/Ulan_Bator
                            - Asia/Urumqi
                            - Asia/Ust-Nera
                            - Asia/Vientiane
                            - Asia/Vladivostok
                            - Asia/Yakutsk
                            - Asia/Yangon
                            - Asia/Yekaterinburg
                            - Asia/Yerevan
                            - Astana
                            - Athens
                            - Atlantic Time (Canada)
                            - Atlantic/Azores
                            - Atlantic/Bermuda
                            - Atlantic/Canary
                            - Atlantic/Cape_Verde
                            - Atlantic/Faeroe
                            - Atlantic/Faroe
                            - Atlantic/Jan_Mayen
                            - Atlantic/Madeira
                            - Atlantic/Reykjavik
                            - Atlantic/South_Georgia
                            - Atlantic/St_Helena
                            - Atlantic/Stanley
                            - Auckland
                            - Australia/ACT
                            - Australia/Adelaide
                            - Australia/Brisbane
                            - Australia/Broken_Hill
                            - Australia/Canberra
                            - Australia/Currie
                            - Australia/Darwin
                            - Australia/Eucla
                            - Australia/Hobart
                            - Australia/LHI
                            - Australia/Lindeman
                            - Australia/Lord_Howe
                            - Australia/Melbourne
                            - Australia/NSW
                            - Australia/North
                            - Australia/Perth
                            - Australia/Queensland
                            - Australia/South
                            - Australia/Sydney
                            - Australia/Tasmania
                            - Australia/Victoria
                            - Australia/West
                            - Australia/Yancowinna
                            - Azores
                            - Baghdad
                            - Baku
                            - Bangkok
                            - Beijing
                            - Belgrade
                            - Berlin
                            - Bern
                            - Bogota
                            - Brasilia
                            - Bratislava
                            - Brazil/Acre
                            - Brazil/DeNoronha
                            - Brazil/East
                            - Brazil/West
                            - Brisbane
                            - Brussels
                            - Bucharest
                            - Budapest
                            - Buenos Aires
                            - CET
                            - CST6CDT
                            - Cairo
                            - Canada/Atlantic
                            - Canada/Central
                            - Canada/Eastern
                            - Canada/Mountain
                            - Canada/Newfoundland
                            - Canada/Pacific
                            - Canada/Saskatchewan
                            - Canada/Yukon
                            - Canberra
                            - Cape Verde Is.
                            - Caracas
                            - Casablanca
                            - Central America
                            - Central Time (US & Canada)
                            - Chatham Is.
                            - Chennai
                            - Chihuahua
                            - Chile/Continental
                            - Chile/EasterIsland
                            - Chongqing
                            - Copenhagen
                            - Cuba
                            - Darwin
                            - Dhaka
                            - Dublin
                            - EET
                            - EST
                            - EST5EDT
                            - Eastern Time (US & Canada)
                            - Edinburgh
                            - Egypt
                            - Eire
                            - Ekaterinburg
                            - Etc/GMT
                            - Etc/GMT+0
                            - Etc/GMT+1
                            - Etc/GMT+10
                            - Etc/GMT+11
                            - Etc/GMT+12
                            - Etc/GMT+2
                            - Etc/GMT+3
                            - Etc/GMT+4
                            - Etc/GMT+5
                            - Etc/GMT+6
                            - Etc/GMT+7
                            - Etc/GMT+8
                            - Etc/GMT+9
                            - Etc/GMT-0
                            - Etc/GMT-1
                            - Etc/GMT-10
                            - Etc/GMT-11
                            - Etc/GMT-12
                            - Etc/GMT-13
                            - Etc/GMT-14
                            - Etc/GMT-2
                            - Etc/GMT-3
                            - Etc/GMT-4
                            - Etc/GMT-5
                            - Etc/GMT-6
                            - Etc/GMT-7
                            - Etc/GMT-8
                            - Etc/GMT-9
                            - Etc/GMT0
                            - Etc/Greenwich
                            - Etc/UCT
                            - Etc/UTC
                            - Etc/Universal
                            - Etc/Zulu
                            - Europe/Amsterdam
                            - Europe/Andorra
                            - Europe/Astrakhan
                            - Europe/Athens
                            - Europe/Belfast
                            - Europe/Belgrade
                            - Europe/Berlin
                            - Europe/Bratislava
                            - Europe/Brussels
                            - Europe/Bucharest
                            - Europe/Budapest
                            - Europe/Busingen
                            - Europe/Chisinau
                            - Europe/Copenhagen
                            - Europe/Dublin
                            - Europe/Gibraltar
                            - Europe/Guernsey
                            - Europe/Helsinki
                            - Europe/Isle_of_Man
                            - Europe/Istanbul
                            - Europe/Jersey
                            - Europe/Kaliningrad
                            - Europe/Kiev
                            - Europe/Kirov
                            - Europe/Lisbon
                            - Europe/Ljubljana
                            - Europe/London
                            - Europe/Luxembourg
                            - Europe/Madrid
                            - Europe/Malta
                            - Europe/Mariehamn
                            - Europe/Minsk
                            - Europe/Monaco
                            - Europe/Moscow
                            - Europe/Nicosia
                            - Europe/Oslo
                            - Europe/Paris
                            - Europe/Podgorica
                            - Europe/Prague
                            - Europe/Riga
                            - Europe/Rome
                            - Europe/Samara
                            - Europe/San_Marino
                            - Europe/Sarajevo
                            - Europe/Saratov
                            - Europe/Simferopol
                            - Europe/Skopje
                            - Europe/Sofia
                            - Europe/Stockholm
                            - Europe/Tallinn
                            - Europe/Tirane
                            - Europe/Tiraspol
                            - Europe/Ulyanovsk
                            - Europe/Uzhgorod
                            - Europe/Vaduz
                            - Europe/Vatican
                            - Europe/Vienna
                            - Europe/Vilnius
                            - Europe/Volgograd
                            - Europe/Warsaw
                            - Europe/Zagreb
                            - Europe/Zaporozhye
                            - Europe/Zurich
                            - Factory
                            - Fiji
                            - GB
                            - GB-Eire
                            - GMT
                            - GMT+0
                            - GMT-0
                            - GMT0
                            - Georgetown
                            - Greenland
                            - Greenwich
                            - Guadalajara
                            - Guam
                            - HST
                            - Hanoi
                            - Harare
                            - Hawaii
                            - Helsinki
                            - Hobart
                            - Hong Kong
                            - Hongkong
                            - Iceland
                            - Indian/Antananarivo
                            - Indian/Chagos
                            - Indian/Christmas
                            - Indian/Cocos
                            - Indian/Comoro
                            - Indian/Kerguelen
                            - Indian/Mahe
                            - Indian/Maldives
                            - Indian/Mauritius
                            - Indian/Mayotte
                            - Indian/Reunion
                            - Indiana (East)
                            - International Date Line West
                            - Iran
                            - Irkutsk
                            - Islamabad
                            - Israel
                            - Istanbul
                            - Jakarta
                            - Jamaica
                            - Japan
                            - Jerusalem
                            - Kabul
                            - Kaliningrad
                            - Kamchatka
                            - Karachi
                            - Kathmandu
                            - Kolkata
                            - Krasnoyarsk
                            - Kuala Lumpur
                            - Kuwait
                            - Kwajalein
                            - Kyiv
                            - La Paz
                            - Libya
                            - Lima
                            - Lisbon
                            - Ljubljana
                            - London
                            - MET
                            - MST
                            - MST7MDT
                            - Madrid
                            - Magadan
                            - Marshall Is.
                            - Mazatlan
                            - Melbourne
                            - Mexico City
                            - Mexico/BajaNorte
                            - Mexico/BajaSur
                            - Mexico/General
                            - Mid-Atlantic
                            - Midway Island
                            - Minsk
                            - Monrovia
                            - Monterrey
                            - Montevideo
                            - Moscow
                            - Mountain Time (US & Canada)
                            - Mumbai
                            - Muscat
                            - NZ
                            - NZ-CHAT
                            - Nairobi
                            - Navajo
                            - New Caledonia
                            - New Delhi
                            - Newfoundland
                            - Novosibirsk
                            - Nuku'alofa
                            - Osaka
                            - PRC
                            - PST8PDT
                            - Pacific Time (US & Canada)
                            - Pacific/Apia
                            - Pacific/Auckland
                            - Pacific/Bougainville
                            - Pacific/Chatham
                            - Pacific/Chuuk
                            - Pacific/Easter
                            - Pacific/Efate
                            - Pacific/Enderbury
                            - Pacific/Fakaofo
                            - Pacific/Fiji
                            - Pacific/Funafuti
                            - Pacific/Galapagos
                            - Pacific/Gambier
                            - Pacific/Guadalcanal
                            - Pacific/Guam
                            - Pacific/Honolulu
                            - Pacific/Johnston
                            - Pacific/Kiritimati
                            - Pacific/Kosrae
                            - Pacific/Kwajalein
                            - Pacific/Majuro
                            - Pacific/Marquesas
                            - Pacific/Midway
                            - Pacific/Nauru
                            - Pacific/Niue
                            - Pacific/Norfolk
                            - Pacific/Noumea
                            - Pacific/Pago_Pago
                            - Pacific/Palau
                            - Pacific/Pitcairn
                            - Pacific/Pohnpei
                            - Pacific/Ponape
                            - Pacific/Port_Moresby
                            - Pacific/Rarotonga
                            - Pacific/Saipan
                            - Pacific/Samoa
                            - Pacific/Tahiti
                            - Pacific/Tarawa
                            - Pacific/Tongatapu
                            - Pacific/Truk
                            - Pacific/Wake
                            - Pacific/Wallis
                            - Pacific/Yap
                            - Paris
                            - Perth
                            - Poland
                            - Port Moresby
                            - Portugal
                            - Prague
                            - Pretoria
                            - Puerto Rico
                            - Quito
                            - ROC
                            - ROK
                            - Rangoon
                            - Riga
                            - Riyadh
                            - Rome
                            - Samara
                            - Samoa
                            - Santiago
                            - Sapporo
                            - Sarajevo
                            - Saskatchewan
                            - Seoul
                            - Singapore
                            - Skopje
                            - Sofia
                            - Solomon Is.
                            - Srednekolymsk
                            - Sri Jayawardenepura
                            - St. Petersburg
                            - Stockholm
                            - Sydney
                            - Taipei
                            - Tallinn
                            - Tashkent
                            - Tbilisi
                            - Tehran
                            - Tijuana
                            - Tokelau Is.
                            - Tokyo
                            - Turkey
                            - UCT
                            - US/Alaska
                            - US/Aleutian
                            - US/Arizona
                            - US/Central
                            - US/East-Indiana
                            - US/Eastern
                            - US/Hawaii
                            - US/Indiana-Starke
                            - US/Michigan
                            - US/Mountain
                            - US/Pacific
                            - US/Samoa
                            - UTC
                            - Ulaanbaatar
                            - Universal
                            - Urumqi
                            - Vienna
                            - Vilnius
                            - Vladivostok
                            - Volgograd
                            - W-SU
                            - WET
                            - Warsaw
                            - Wellington
                            - West Central Africa
                            - Yakutsk
                            - Yerevan
                            - Zagreb
                            - Zulu
                            - Zurich
                        type:
                          type: string
                          enum:
                            - hidden_event
                            - private_event
                            - public_event
                      additionalProperties: false
                  additionalProperties: false
                  required:
                    - type
                    - attributes
              required:
                - data
  /v1/events/{eventId}/registrations:
    get:
      summary: Returns the list of registrations for user's event
      tags:
        - Registration
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/registrationsFilter'
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: returns registrations list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/registration'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '400':
          description: Field value has the wrong type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/registrations/{registrationId}:
    get:
      summary: Returns registration details
      tags:
        - Registration
      parameters:
        - name: registrationId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: returns registration
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/registration'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
    patch:
      summary: Update registration
      tags:
        - Registration
      parameters:
        - name: registrationId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: returns registration
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/registration'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Shows errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - Registration
                      description: Resource type
                    attributes:
                      type: object
                      properties:
                        metadata:
                          type: object
                          additionalProperties:
                            type: string
                      additionalProperties: false
                  additionalProperties: false
                  required:
                    - type
                    - attributes
              required:
                - data
  /v1/reports/{reportId}/download:
    get:
      summary: Direct report file download
      tags:
        - Reports
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns report file
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/events/{eventId}/reports:
    get:
      summary: Get reports list
      tags:
        - Reports
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns report list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/report'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/reports/{reportId}:
    get:
      summary: Get report details
      tags:
        - Reports
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns report details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/report'
                required:
                  - data
        '202':
          description: Returns message
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/in_progress_report'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/events/{eventId}/reports/{reportType}:
    post:
      summary: Create report for an event
      tags:
        - Reports
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: reportType
          in: path
          schema:
            type: string
            enum:
              - all
              - attendees
              - attendeeActivity
              - attendeeFeedback
              - attendeeScore
              - postEventSurvey
              - boothAttendee
              - boothInteraction
              - chat
              - connection
              - noShows
              - participation
              - registrations
              - registrants
              - schedule
              - schedules
              - summary
              - referrals
              - viewership
              - activitiesValidar
              - segmentRegistrations
              - agenda
              - replayRecordings
              - replayViewers
          required: true
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '201':
          description: Creates participant report
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/report'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Returns participation report id is invalid error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        participationReportType:
                          type: string
                          enum:
                            - expo
                            - schedule
                            - session
                            - stage
                            - all
                        participationTypeId:
                          type: string
  /v1/scheduleItems/:scheduleId/tags:
    get:
      summary: Returns the list of tags for a ScheduleItem
      tags:
        - Tags
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns the list of tags for a schedule
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/tag'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/events/{eventId}/scheduleItems:
    get:
      summary: Returns the list of schedule items for user's organization's event
      tags:
        - Schedule Items
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns the list of schedules for user's organization's event
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/scheduleItem'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/scheduleItems/{scheduleItemId}:
    get:
      summary: Returns the a scheduled item by id
      tags:
        - Schedule Items
      parameters:
        - name: scheduleItemId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns the a scheduled item by id
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/scheduleItem'
                required:
                  - data
        '404':
          description: Not found
  /v1/events/{eventId}/sessions:
    get:
      summary: Returns the list of sessions for user's organization's event
      tags:
        - Sessions
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns the list of sessions for user's organization's event
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/session'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/events/{eventId}/stages:
    get:
      summary: Returns the list of stages for user's organization's event
      tags:
        - Stages
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns the list of stages for user's organization's event
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/stage'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/tickets/{ticketId}/magicLinks:
    get:
      summary: Returns the list of magic links for given ticket type
      tags:
        - Magic Links
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/magicLinksFilter'
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: returns magic links list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/magicLink'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '400':
          description: 'Invalid filter params, please use allowed ones: updatedAt, email'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
    post:
      summary: Creates magic link for given ticket type
      tags:
        - Magic Links
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '201':
          description: Creates magic link
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/magicLink'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Shows errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - magicLink
                      description: Resource type
                    attributes:
                      type: object
                      properties:
                        email:
                          type: string
                        extraFields:
                          type: object
                          additionalProperties:
                            type: string
                        firstName:
                          type: string
                        headline:
                          type: string
                          maxLength: 120
                        lastName:
                          type: string
                        metadata:
                          type: object
                          additionalProperties:
                            type: string
                        registrationId:
                          type: string
                      additionalProperties: false
                      required:
                        - email
                        - firstName
                        - lastName
                  additionalProperties: false
                  required:
                    - type
                    - attributes
              required:
                - data
  /v1/magicLinks/{magicLinkId}:
    delete:
      summary: Deletes magic link for given ticket type
      tags:
        - Magic Links
      parameters:
        - name: magicLinkId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '204':
          description: deletes magicLink
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
    get:
      summary: Returns magic link for given ticket type
      tags:
        - Magic Links
      parameters:
        - name: magicLinkId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: returns magic link
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/magicLink'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/events/{eventId}/tickets:
    get:
      summary: Returns the list of tickets for user's organization's event
      tags:
        - Tickets
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns the list of tickets for user's organization's event
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ticket'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
    post:
      summary: Creates ticket
      tags:
        - Tickets
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      description: |
        ![Beta](https://img.shields.io/badge/Status-Beta-yellow)
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '201':
          description: Creates ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ticket'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Shows errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - ticket
                      description: Resource type
                    attributes:
                      type: object
                      properties:
                        count:
                          type: integer
                        description:
                          type: string
                        name:
                          type: string
                        price:
                          type: number
                        private:
                          type: boolean
                      additionalProperties: false
                  additionalProperties: false
                  required:
                    - type
                    - attributes
              required:
                - data
  /v1/tickets/{ticketId}:
    get:
      summary: Returns ticket details
      tags:
        - Tickets
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: >-
            Returns the details about user's event's ticket by organization id
            and event id
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ticket'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/organizations/{organizationId}/events:
    get:
      summary: Returns the list of the organization's events
      tags:
        - Events
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '200':
          description: Returns the list of user's organization's events by organization id
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/event'
                  meta:
                    $ref: '#/components/schemas/listMeta'
                  links:
                    $ref: '#/components/schemas/listLinks'
                required:
                  - data
                  - meta
                  - links
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
    post:
      summary: Creates an event for the organization
      tags:
        - Events
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer: []
        - OAuth: []
      responses:
        '201':
          description: Creates an event and returns details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/event'
                required:
                  - data
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: unprocessable_entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - event
                      description: Resource type
                    attributes:
                      type: object
                      properties:
                        analyticsCode:
                          type: string
                        attendeesVisibility:
                          type: string
                          enum:
                            - show_all
                            - show_list
                            - show_none
                          description: Controls how user sees other registered users
                        attendeesVisiblity:
                          type: string
                          enum:
                            - show_all
                            - show_list
                            - show_none
                          description: >-
                            Do not use this field, it is deprecated, use
                            attendeesVisiblity instead
[...]
