<!-- public/views/layouts/main.hbs -->
<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="shortcut icon" href="//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png">
  </head>
  <body>
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">

        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <svg class="p-2" width="60px" height="60px" viewBox="0 0 1200 1200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Neo4j Community Center</title>
                  <g id="Community-Incubator-Program-Copy-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <circle id="Outer-Border" fill="#002A6A" cx="600" cy="600" r="600"></circle>
                    <circle id="Inner-Border" fill="#006FE1" cx="600" cy="600" r="500"></circle>
                    <circle id="Inner-Fill" fill="#008AFF" cx="600" cy="600" r="390"></circle>
                    <g id="astronomy-solar-system" transform="translate(210.000000, 210.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <path d="M390.532399,313 L390.532396,313 C347.730176,312.982247 313.017827,347.665481 313,390.467667 C312.982115,433.269852 347.665376,467.982173 390.467597,468 C433.269817,468.017885 467.982167,433.334652 468,390.532466 C468,390.521668 468,390.510871 468,390.500073 L468,390.494423 C468.014767,347.710381 433.343374,313.014908 390.559297,313 C390.548496,313 390.537695,313 390.526893,313 L390.532399,313 Z" id="Path"></path>
                        <path d="M592.800289,553.125287 L592.800293,553.125281 C642.546994,491.600598 661.786593,410.884771 645.139234,333.546307 L645.139235,333.546314 C641.476615,315.975869 624.258501,304.700259 606.681492,308.361512 C589.104483,312.022765 577.824661,329.234448 581.487281,346.804893 L581.487289,346.804928 C594.159847,404.970121 579.818314,465.743484 542.476898,512.114716 L542.476905,512.114708 C474.419052,595.585914 351.555177,608.101298 268.052785,540.068765 C184.550394,472.036329 172.030334,349.218338 240.088284,265.747132 C247.989742,256.056215 256.805277,247.147457 266.413146,239.143857 L266.413161,239.143845 C311.640833,201.873264 371.124526,186.674317 428.696386,197.678288 L428.696385,197.678288 C446.279278,201.308669 463.477074,190.003293 467.108941,172.426966 C470.740679,154.850639 459.431079,137.659266 441.848186,134.028755 C441.421158,133.940585 440.992395,133.861012 440.562166,133.790086 L440.562181,133.790088 C299.549696,106.492916 163.099477,198.634616 135.791878,339.594763 C108.484507,480.554585 200.660631,616.953845 341.673441,644.251246 C435.852651,662.48241 532.424174,627.407813 592.930265,552.995498 L592.800289,553.125287 Z" id="Path"></path>
                        <path d="M389.984672,0 L389.984652,0 C174.478281,0.123189815 -0.123438902,174.918555 0,390.417754 C0.0273812043,438.199721 8.83105129,485.57024 25.972907,530.171769 L25.9729059,530.171766 C31.401411,547.280448 49.6719342,556.749287 66.7813538,551.320995 C83.8907083,545.892703 93.3599192,527.622898 87.9314141,510.514151 C87.5517422,509.317564 87.1030573,508.143981 86.5876117,506.99929 L86.587604,506.99927 C22.0741151,339.635636 105.456018,151.665131 272.826362,87.1528778 C440.196575,22.641925 628.174469,106.020551 692.689258,273.384314 C757.202747,440.747948 673.820843,628.718453 506.4505,693.230706 C424.605772,724.776743 333.480989,721.878826 253.806362,685.196217 L253.806361,685.196217 C237.498875,677.657578 218.167547,684.765583 210.628579,701.072406 C203.089644,717.379251 210.197929,736.709819 226.505392,744.24849 L226.505364,744.248477 C277.734007,767.961231 333.535561,780.163765 389.986164,780 L389.986163,780 C605.384955,780 780,605.390159 780,389.999834 C780,174.609509 605.384955,0 389.986163,0 L389.984672,0 Z" id="Path"></path>
                        <path d="M592,234.499989 L592,234.5 C592,208.818747 571.181253,188 545.5,188 C519.818747,188 499,208.818747 499,234.5 C499,260.181253 519.818747,281 545.5,281 C545.510798,281 545.521595,281 545.532393,281 L545.532393,281 C571.200976,280.982108 592,260.168572 592,234.499989 L592,234.499989 Z" id="Path"></path>
                        <path d="M157.380488,605.619512 C175.539837,623.778861 175.539837,653.22088 157.380488,671.380488 C139.221139,689.539837 109.77912,689.539837 91.6195117,671.380488 C73.4601628,653.221139 73.4601628,623.77912 91.6195117,605.619512 C109.778861,587.460163 139.22088,587.460163 157.380488,605.619512" id="Path"></path>
                    </g>
                </g>
          </svg>
            <span class="font-semibold text-xl tracking-tight">Neo4j CC Admin</span>
        </div>

        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Home</a>
                {{#if isAuthenticated }}
                    <a  href="/profile" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Profile</a>
                    <a  href="/logout" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Logout</a>
                {{else}}
                    <a  href="/login" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Login</a>
                {{/if}}
            </div>

            <div>
                <a  href="https://github.com/neo4j-contrib/neo4j-cc" 
                    target="blank"
                    class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">
                    <span class="font-semibold text-xl tracking-tight">GitHub</span>
                    
                </a>
            </div>
        </div>
    </nav>
    <div class="flex justify-center py-4">
      <div class="w-5/6 lg:w-3/4 bg-white p-4 rounded overflow-hidden shadow-lg">

        {{{ body }}}

      </div>
    </div>
  </body>
</html>